@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-height {
    height: calc(90vh - 35px);
  }
.custom-container {
margin-left: 0px; /* Ajusta este valor según sea necesario */
width: calc(95% + 89px); /* Ajusta este valor según sea necesario */
}
/* En tu archivo CSS global */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #202122 #ffffff;
}
.custom-height-mobile {
  height: calc(88vh - 35px);
}
.custom-container-mobile {
margin-left: 0px; /* Ajusta este valor según sea necesario */
width: calc(80% + 85px); /* Ajusta este valor según sea necesario */
}